APP_NAME=php-service
APP_ENV=local

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=shop_php

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

NACOS_ADDR=nacos-dev:8848
NACOS_NAMESPACE=shop-dev
NACOS_GROUP=SHOP_PHP
NACOS_DATA_ID=php-service.yaml
